
.site {
padding: $spacer;
font-family: 'Lato', sans-serif;
color: #333;
font-weight: 400;
}
.frontpagebackground{
    background-image: url(img/baggrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:500px;
    width:100%;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    display: flex;
    justify-content: center;
        h2{
            line-height: 72px;
            vertical-align: baseline;
            letter-spacing: normal;
            font-size: 60px;
            width: 700px;
            font-weight:900;
        }
}
.entry-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px !important ;
}
.entry-header{
    max-width: 700px;
    width:100%;
    h1{
        margin:-100px;
        visibility: hidden;
    }
}
.home .site{
    header{
        background-color: #f1f1f1f1;
        width: 100%;
    }
}
.site-header {
display: flex;
padding: 20px;
width:100%;
// logo
.site-title {
    font-size: 16px;
    margin: 0;
    font-family: 'Lato';
    a {
        color: $font-color;
        text-decoration: none;
        font-weight: 600;
    }
}
.main-navigation {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -20px;
    // links i menu
    a {
        color: lighten($font-color, 25%);
        font-weight: 600;
    }
    // hamburger-knappen
    .menu-toggle {
        padding: 0;
        border: none;
        background-color: white;
    }
    .menu {
        align-self: flex-start;
        .nav-menu {
            margin-top: $spacer*2;
        }
    }
}
}

article {
display: flex;
flex-direction: column;
align-items: center;
}
// overskriftens placering
.entry-header {
max-width: 700px;
width: 100%;
}
// indholdet centreret på siden 
.entry-content {
display: flex;
flex-direction: column;
align-items: center;
}
// "standardbredden" for content
 figure, h1 {
max-width: 700px;
}
// klasse til billeder, der skal have fuld bredde
.img-wide {
max-width: 100%;
}
.site-footer {
    background-color: #ddd;
    font-size: 16px;
    vertical-align: middle;
        a {
            color: red;
            text-decoration: underline;
            padding: 0px 10px;
            word-wrap: normal;
            display: inline-block;
        }
    }

@media screen and (min-width: 600px) {
.site-header {
    flex-direction: row;
    .main-navigation {
        display: flex;
        justify-content: flex-end;
        .menu-menu-1-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .menu-item {
                margin-left: $spacer;
            }
        }
    }
}
// fordeler én paragraf i flere kolonner 
.p-columns-2 {
    column-count: 3;
}
}

// stopklods
@media screen and (min-width: 1200px) {
.site {
    width: 1200px;
    margin: 0 auto;
}
}

.wp-block-column h2{
    font-size: 48px;
    padding-left: 40px;
    padding-left: 40px;
}
.wp-block-column p{
    line-height: 38.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
        a{
        color: #cf2c28;
        font-weight: 700;
        text-decoration: underline;
        }
}
.wp-block-column img{
    padding-left: 0px;
    padding-right: 0px;
}
figure{
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1150px;
}
.blocks-gallery-item{
    width:20px;
}

.wp-block-gallery.is-cropped .blocks-gallery-item img{
    object-fit: contain;
    width: 60%;
    height: 60%;
}
h2.has-text-align-center{
    line-height: 57.6px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: rgb(51, 51, 51);
    font-size: 48px;
    position: relative;
    top:100px;
    
}
h1.has-text-align-center{
    line-height: 57.6px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: rgb(51, 51, 51);
    font-size: 48px;

}
p.has-text-align-center{
    font-size: 24px;
    line-height: 38.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: rgb(51, 51, 51);
    position: relative;
    top:50px;
    margin-bottom: 100px;
    
}
.footerbg{
    background-image: url(img/footerbg.jpg);
    width: 100vw;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footerform{
    display: inline-block;
    position: relative;
    left: 15%;
}

input[type=submit]{
    background-color:#cf2c28;
    position: relative;
    top:22px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


